*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
/* header */
.div-container{
    display: flex;
    top: 0;
    background-color:grey;
    height: 72px;
    justify-content: stretch;
    align-items: center;
    width: 100%;
}

.logo-container{
    display: flex;
    left:0;
    width: 50%;
    height: 61.8%;
    flex: 1;
    align-items: left;
    justify-content: flex-start;
}

#logo{
    margin-left: 2em;
}
/* Banner styling */
.banner{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    width: 98%;
    padding: 1%;
    height: auto;
}

.banner-container{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    height: auto;
    flex: 1 0 auto;
    padding: 2rem;
}
.banner:hover{
    transform: scale(1.01);
    transition-duration: 0.2s;
}
/* containers (header and footer)*/
.funtions-container{
    display: flex;
    flex-direction: row;
    left: 50%;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

#button-container1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height:61.8%;
    width: 47%;
    margin-right: 2em;
    flex: 1;
    gap: 48px;
}

.footer-container{
    display: flex;
    bottom: 0;
    background-color:grey;
    height: 72px;
    justify-content: left;
    width: 100%;
}

#faq-button-container{
    display: flex;
    width: 50%;
    height: 100%;
    flex: 1;
    align-items: center;
    left:0;
    margin-left: 2em;
    
}

#button-container2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height:61.8%;
    width: 36.5%;
    margin-right: 2em;
    flex: 1;
    gap: 48px;
}

/* buttons */

.button{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    height:100%;
    width: auto;
    flex-basis: auto;
    flex-shrink: 1;
}

.button-image{
    display: flex;
}

/* Hover animations */

.logo-container:hover{
    transform: scale(1.02);
    border-radius: 100%;
    transition-duration: 0.2s;
}

.button-image:hover{
    transform: scale(1.04);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    border-radius: 100%;
    transition-duration: 0.2s;
}

/* clothes container */
ul{
    list-style-type: none
}
.clothes-container{
    display: flex;
    flex: 1 0 auto;
    justify-content:space-evenly;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
}
.clothes{
    display: flex;
    flex: 1;
    height: 100%;
    flex-wrap: wrap;
    width: 98%;
    padding: 1%;
}
.clothes:hover{
    transform: scale(1.04);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    transition-duration: 0.2s;
}

/* FAQ stuff */
#FAQ-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
#FAQ-header{
    display: flex;
    font-size: 48px;
    padding: 4%;
    height: 20%;
    flex-direction: column;
    justify-content: center;
}
.FAQ-question{
    display: flex;
    font-size: 24px;
    background-color:lightgray;
    outline-style: solid;
    width:100%;
    height: 80%;
    flex: 1;
    align-items: center;
    padding-left: 5%;
}
#QNAs{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
    padding: 1em;
    justify-content: space-around;
}
.QNA-Singular{
    display: flex;
    height: 98%;
    padding: 1%;
    flex-direction: column;
    width: 100%;
}
.FAQ-answer{
    height: 100%;
    padding: 1%;
    font-size: 24px;
    padding-left: 5%;
}

.FAQ-question:hover{
    transform: scale(1.01);
    transition-duration: 0.2s;
}

/* Media queries */

@media (max-width: 500px){
    #button-container1{
        height: 46.35%;
        gap: 1%;
    }
    #button-container2{
        height: 46.35%;
        gap: 1%;
    }
    .clothes-container{
        flex: wrap;
        flex-direction: column;
        gap: 1%;
    }
    .clothes{
        height: auto;
    }
    #FAQ-header{
        font-size: 24px;
    }

}
