*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
/* header */
.div-container{
    display: flex;
    top: 0;
    background-color:grey;
    height: 72px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 50%;
}


.logo-container{
    display: flex;
    flex: 1;
    align-items: center;
    left:0;
    margin-left: 2em;
    max-width: 10%;
}


/* Banner styling */
.banner{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    width: 98%;
    padding: 1%;
    height: auto;
}

.banner-container{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    height: auto;
    flex: 1 0 auto;
    padding: 2rem;
}
.banner:hover{
    transform: scale(1.01);
    transition-duration: 0.2s;
}
/* containers (header and footer)*/
.funtions-container{
    display: flex;
    flex-direction: row;
    flex-basis: 40%;
    justify-content: space-around;
    align-items: center;
}
.funtions-container2{
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    justify-content: space-around;
    align-items: center;
}

.footer-container{
    display: flex;
    bottom: 0;
    background-color:grey;
    height: 72px;
    justify-content: flex-end;
    width: 100%;
    gap: 60%;
}

#faq-button-container{
    display: flex;
    flex: 1;
    align-items: center;
    left:0;
    margin-left: 2em;
    max-width: 10%;
}
    


/* buttons */


.button-image{
    width: 48px;
}

/* Hover animations */

.logo-container:hover{
    transform: scale(1.02);
    transition-duration: 0.2s;
}

.button-image:hover{
    transform: scale(1.04);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    border-radius: 100%;
    transition-duration: 0.2s;
}

/* clothes container */
ul{
    list-style-type: none
}
.clothes-container{
    display: flex;
    flex: 1 0 auto;
    justify-content:space-evenly;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
}
.clothes{
    display: flex;
    flex: 1;
    height: 100%;
    flex-wrap: wrap;
    width: 98%;
    padding: 1%;
}
.clothes:hover{
    transform: scale(1.04);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    transition-duration: 0.2s;
}

/* FAQ stuff */
#FAQ-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-basis: 20%;
    align-items: center;
}
#FAQ-header{
    font-size: 48px;
    padding: 4%;
    height: 20%;
}

/* leave unchanged */
#QNAs{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
    padding: 1em;
    justify-content: space-around;
}

.QNA-Singular{
    display: flex;
    height: 98%;
    padding: 1%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.FAQ-question{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 3%;
    border: none;
    text-align: left;
    outline: solid;
    font-size: 24px;
    transition: 0.4s;
    width: 100%;
  }

.FAQ-question:hover{
    transform: scale(1.01);
    transition-duration: 0.2s;
    background-color: grey; 
    color:white;
    outline: solid;
}

.FAQ-answer {
    display: none;
    background-color: white;
    width: 100%;
    font-size: 24px;
    outline: solid;
  }
.TextPadding{
    padding: 2%;
}

/* Media queries */

@media (max-width: 500px){
    .funtions-container{
        flex-basis: 80%;
    }
    .funtions-container2{
        flex-basis: 60%;
    }
    .div-container{
        gap: 10%;
    }
    .footer-container{
        gap: 30%;
    }
    .button-image{
        width: 36px;
    }
    .clothes-container{
        flex-direction: column;
        gap: 1%;
    }
    .clothes{
        height: auto;
    }
    #FAQ-header{
        font-size: 24px;
    }
    .accordion {
        padding: 4%;
    }
    .QNA-Singular{
        padding: 4%;
    }
}


  
